<div>
  <a href="{{product.url}}">
  <img class="w-100" src="{{product.featured_image | img_url : "1024x720"}}">
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.price | money}}</p>
  </div>
</a>
</div>
