<br>
<br>
<h1>Account</h1>
<i class="fa-solid fa-user"></i> {{ 'Log out' | customer_logout_link }}
<br>
<br>
<h3>Order history</h3>
{% paginate customer.orders by 10 %}
  {% for order in customer.orders %}
    <!-- order info -->
  {% endfor %}

  {{ paginate | default_pagination }}
{% endpaginate %}