<div class="position-relative mt-5 mb-5">
  <img src="{{section.settings.image_cta_image | img_url: "1240x980"}}" class="mb-5 img-fluid" alt="...">
  <div class="position-absolute image-cta-text">
    <h1>{{section.settings.image_cta_title}}</h1>
    <p>{{section.settings.image_cta_desc}}</p>
  </div>
</div>

{% schema %}
{
  "name": "Image CTA",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_cta_image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "image_cta_title",
      "label": "Image Title"
    },
    {
      "type": "textarea",
      "id": "image_cta_desc",
      "label": "Image Description"
    }
  ]
}
{% endschema %}
